.button {
  display: inline-flex;
  align-items: center;

  border: none;

  background: transparent;

  font-size: 28px;

  cursor: pointer;

  transition: 0.2s;
}

.button:hover {
  color: #d4434f;
}
